.meme-text-input {
    padding: 0.5rem;
    font-size: 1rem;
    min-width: 16rem;
}

.meme-text-output {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    word-wrap: normal;
}

.meme-text-output__text {
    text-align: center;
    padding: 0.5rem;
    background: #d8d8d8;
    color: black;
    height: 4rem;
    width: 30rem;
    font-size: 1rem;
    min-width: 8rem;
}