:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --highlight-color: #1ab18a;
    --highlight-color-alt: #13d3a3;
    --highlight-color-dark: #0e4637;
    --background-color: #262626;
    --mobile-width: 720px;
    --text-color: #ebebeb;
    font-size: calc(8.5pt + 0.3vw);
}

body {
    display: flex;
    margin: 0;
    background-color: var(--background-color);
    flex-direction: column;
    color: var(--text-color);
    width: 100vw;
    min-height: 100vh;
}

.body-content {
    margin: 0.5rem;
    padding: 10rem;
    padding-bottom: 0;
    padding-top: 3rem;
    min-height: calc(100vh - 7rem);
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media only screen and (max-width: 1150px) {
    .body-content {
        padding: 4rem;
        min-height: calc(100vh - 9rem);
    }
}


@media only screen and (max-width: 720px) {
    .body-content {
        padding: 0;
        padding-top: 5rem;
        min-height: calc(100vh - 9rem);
    }
}


a {
    color:#eaeaea;
}

a:hover {
    background-color: var(--highlight-color-alt);
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

h1::after {
    content: "";
    background-color: var(--highlight-color);
    height: 2rem;
    width: 7rem;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -0.25rem;
    opacity: 0.25;
}

h2 {
    font-size: 1.75rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    list-style-type: circle;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    color: white;
    background-color: var(--highlight-color);
    border: 1px solid white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--highlight-color-alt);
}