<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <div class="header__title">Ben Hawley Portfolio</div>
            <nav class="header__navigation">
                <div class="header__navigation__item">
                    <a href="/">Home</a>
                </div>
                <div class="header__navigation__item">
                    <a href="/memes">Memes</a>
                </div>
                <div class="header__navigation__item">
                    <a href="https://pacman.benhawley.net">Pacman</a>
                </div>
                <div class="header__navigation__item">
                    <a href="https://www.github.com/benhawley7">GitHub</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="body-content">
        <div class="page-content">
            <h1>Portfolio</h1>
            <div class="warning-box">
                <div class="warning-box__title">
                    Nothing to see here...
                </div>
                <div class="warning-box__content">
                    This site probably won't be updated for a while, not much of a Portfolio, lel.
                </div>
            </div>
        </div>
    </div>
</body>
</html>