<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
    <header class="header">
        <div class="header__content">
            <div class="header__title">Ben Hawley Portfolio</div>
            <nav class="header__navigation">
                <div class="header__navigation__item">
                    <a href="/">Home</a>
                </div>
                <div class="header__navigation__item">
                    <a href="/memes">Memes</a>
                </div>
                <div class="header__navigation__item">
                    <a href="https://pacman.benhawley.net">Pacman</a>
                </div>
                <div class="header__navigation__item">
                    <a href="https://www.github.com/benhawley7">GitHub</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="body-content">
        {{{pageContent}}}
    </div>
</body>
</html>